@import '../../App.module.scss';

.fallback {
  & > .container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    font-size: 2.5rem;
    font-weight: 600;

    img {
      width: 100%;
      max-width: 500px;
    }
  }
}
