@import '../../App.module.scss';;

.fallback {
  background: url('../assets/background2.jpg') no-repeat center center fixed;

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 2.5rem;
    font-weight: 600;
  }
}