@import '../../App.module.scss';

.fallback {
  & > .container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    font-size: 2.5rem;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      padding-block: 3rem;
    }

    img {
      width: 100%;
      max-width: 500px;
    }
  }
}
