.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;

    input {
      height: 2.625rem;
      min-width: 5rem;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 0.5rem;
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
      text-align: center;
      transition: all 0.3s ease;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &__item {
    padding: 0.5rem;
    min-width: 2.625rem;
    min-height: 2.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.25);

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.5);
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.25);
      border: 1px solid rgba(255, 255, 255, 0.5);

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    &:first-child {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
    }

    &:last-child {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
  }
}