.warning {
  background: url('/warning.png') repeat-x center center;
  background-size: contain;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: warning 180s linear infinite;
}

@keyframes warning {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
